body{
	padding:0; margin:0;
	background-image:url(images/background.png);
	background-attachment:fixed;
}
.navbackground{
	height:60px;
	width:100%;
	background-color:black;
	filter:opacity(50%);
}
.nav{
	height:60px;
	width:100%;
	position:absolute;
	top:0px;
}
.nav li a{
	top:13.5px;
}
ul{
	margin:0; padding:0;
	list-style-type:none;
	text-align:center;
}
li a{
	color:black;
	text-decoration:none;
	font-family:verdana;
	font-size:25px;
	padding:14px;
	position:relative;
	padding-top:14px;
	padding-bottom:14px;
	padding-left:25px;
	padding-right:25px;
}
li a:hover{
	filter:drop-shadow(1px 1px 1px black);
}
li{
	display:inline-block;
}
.whitebartop{
	padding:0; margin:0;
	filter:opacity(40%);
	background-color:white;
    width:100%; height:50px;
}
.heading{
	padding:0; margin:0;
	filter:opacity(40%);
	background-color:black;
    width:100%; height:110px;
}
.heading h1{
	padding:0; margin:0;
	filter:opacity(100%);
	color:white;
	font-family:tahoma;
	font-size:80px;
	text-align:center;
}
.whitebarbottom{
	padding:0; margin:0;
	filter:opacity(40%);
	background-color:white;
    width:100%; height:50px;
}
img{
	display:block;
}
a{
	font-family:verdana;
	font-size:27px;
	text-decoration:none;
	padding:0;
	margin:0;
}
p{
	padding:0;
	margin:0;
}
.row{
	padding:0;
	margin:0;
}
.column{
   float:left;
   width:25%;
   padding:0;
   margin:0;
}
.column img{
	width:100%;
	margin:0px;
	padding:0px;
}
.column a{
	color:white;
	font-size:30px;
}
.image {
  position: relative;
  width: 100%;
}

.imageimage {
	display:block;
  width:100%;
  height:268px;
}

.imageoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image:hover .imageoverlay {
  filter:opacity(50%);
}

.imagetext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image1 {
  position: relative;
  width: 100%;
}

.image1image {
	display:block;
  width:100%;
  height:268px;
}

.image1overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image1:hover .image1overlay {
  filter:opacity(70%);
}

.image1text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image2 {
  position: relative;
  width: 100%;
}

.image2image {
	display:block;
  width:100%;
  height:268px;
}

.image2overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image2:hover .image2overlay {
  filter:opacity(70%);
}

.image2text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image3 {
  position: relative;
  width: 100%;
}

.image3image {
	display:block;
  width:100%;
  height:268px;
}

.image3overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image3:hover .image3overlay {
  filter:opacity(70%);
}

.image3text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image4 {
  position: relative;
  width: 100%;
}

.image4image {
	display:block;
  width:100%;
  height:268px;
}

.image4overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image4:hover .image4overlay {
  filter:opacity(70%);
}

.image4text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image5 {
  position: relative;
  width: 100%;
}

.image5image {
	display:block;
  width:100%;
  height:268px;
}

.image5overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image5:hover .image5overlay {
  filter:opacity(70%);
}

.image5text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image6 {
  position: relative;
  width: 100%;
}

.image6image {
	display:block;
  width:100%;
  height:268px;
}

.image6overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image6:hover .image6overlay {
  filter:opacity(70%);
}

.image6text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image7 {
  position: relative;
  width: 100%;
}

.image7image {
	display:block;
  width:100%;
  height:268px;
}

.image7overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image7:hover .image7overlay {
  filter:opacity(70%);
}

.image7text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image8 {
  position: relative;
  width: 100%;
}

.image8image {
	display:block;
  width:100%;
  height:268px;
}

.image8overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image8:hover .image8overlay {
  filter:opacity(70%);
}

.image8text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image9 {
  position: relative;
  width: 100%;
}

.image9image {
	display:block;
  width:100%;
  height:268px;
}

.image9overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image9:hover .image9overlay {
  filter:opacity(70%);
}

.image9text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image10 {
  position: relative;
  width: 100%;
}

.image10image {
	display:block;
  width:100%;
  height:268px;
}

.image10overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image10:hover .image10overlay {
  filter:opacity(70%);
}

.image10text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image11 {
  position: relative;
  width: 100%;
}

.image11image {
	display:block;
  width:100%;
  height:268px;
}

.image11overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image11:hover .image11overlay {
  filter:opacity(70%);
}

.image11text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image12 {
  position: relative;
  width: 100%;
}

.image12image {
	display:block;
  width:100%;
  height:268px;
}

.image12overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image12:hover .image12overlay {
  filter:opacity(70%);
}

.image12text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image13 {
  position: relative;
  width: 100%;
}

.image13image {
	display:block;
  width:100%;
  height:268px;
}

.image13overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image13:hover .image13overlay {
  filter:opacity(70%);
}

.image13text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image14 {
  position: relative;
  width: 100%;
}

.image14image {
	display:block;
  width:100%;
  height:268px;
}

.image14overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image14:hover .image14overlay {
  filter:opacity(70%);
}

.image14text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image15 {
  position: relative;
  width: 100%;
}

.image15image {
	display:block;
  width:100%;
  height:268px;
}

.image15overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image15:hover .image15overlay {
  filter:opacity(70%);
}

.image15text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image16 {
  position: relative;
  width: 100%;
}

.image16image {
	display:block;
  width:100%;
  height:268px;
}

.image16overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image16:hover .image16overlay {
  filter:opacity(70%);
}

.image16text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image17 {
  position: relative;
  width: 100%;
}

.image17image {
	display:block;
  width:100%;
  height:268px;
}

.image17overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image17:hover .image17overlay {
  filter:opacity(70%);
}

.image17text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image18 {
  position: relative;
  width: 100%;
}

.image18image {
	display:block;
  width:100%;
  height:268px;
}

.image18overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image18:hover .image18overlay {
  filter:opacity(70%);
}

.image18text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image19 {
  position: relative;
  width: 100%;
}

.image19image {
	display:block;
  width:100%;
  height:268px;
}

.image19overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image19:hover .image19overlay {
  filter:opacity(70%);
}

.image19text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image20 {
  position: relative;
  width: 100%;
}

.image20image {
	display:block;
  width:100%;
  height:268px;
}

.image20overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image20:hover .image20overlay {
  filter:opacity(70%);
}

.image20text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image21 {
  position: relative;
  width: 100%;
}

.image21image {
	display:block;
  width:100%;
  height:268px;
}

.image21overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image21:hover .image21overlay {
  filter:opacity(70%);
}

.image21text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image22 {
  position: relative;
  width: 100%;
}

.image22image {
	display:block;
  width:100%;
  height:268px;
}

.image22overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image22:hover .image22overlay {
  filter:opacity(70%);
}

.image22text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image23 {
  position: relative;
  width: 100%;
}

.image23image {
	display:block;
  width:100%;
  height:268px;
}

.image23overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter:opacity(0);
  transition: .5s ease;
  background-color: black;
}
.image23:hover .image23overlay {
  filter:opacity(70%);
}

.image23text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}